
SoftEng/bin/Debug/netcoreapp2.1/SoftEng.dll

.vs/CalenderApp/v16/.suo

SoftEng/bin/Debug/netcoreapp2.1/SoftEng.pdb

.vs/CalenderApp/v16/Server/sqlite3/storage.ide-wal

SoftEng/obj/Debug/netcoreapp2.1/SoftEng.csprojAssemblyReference.cache

SoftEng/obj/Debug/netcoreapp2.1/SoftEng.dll

SoftEng/obj/Debug/netcoreapp2.1/SoftEng.pdb

.vs/CalenderApp/v16/Server/sqlite3/storage.ide
