<div class="modal fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="addClassModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Class</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Class Name:</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="className"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Location:</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="locationName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Start Date:</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="date" id="classStartDate"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">End Date:</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="date" id="classEndDate"/>
                        </div>
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Day of Week:</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="sat" value="1"> Sat
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="mon" value="2"> Mon
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="tue" value="3"> Tue
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="wed" value="4"> Wed
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="thr" value="5"> Thr
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="fri" value="6"> Fri
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="sun" value="7"> Sun
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Start Time:</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="time" id="classStartTime"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">End Time:</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="time" id="classEndTime"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Time:</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="datetime" id="classTotalTime" readonly/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>