@{
    ViewData["Title"] = "Admin Home";
}
<div class="navBar">
    <a asp-controller="Admin" asp-action="Home">Home</a>
    <a asp-controller="Admin" asp-action="ClassesTable">Classes Table</a>
    <a asp-controller="Home" asp-action="Index">Sign Out</a>
</div>
<div align="center">
    <h2>Admin Home</h2>
</div>