@{
    ViewData["Title"] = "User Add Task";
}

<div class="navBar">
    <a asp-controller="User" asp-action="Home">Home</a>
    <a asp-controller="User" asp-action="WeeklyView">Weekly View</a>
    <a asp-controller="User" asp-action="CompareSchedules">Compare Schedules</a>
    <a asp-controller="User" asp-action="Enroll">Enroll</a>
    <a asp-controller="User" asp-action="AddTask">Add New Task</a>
    <a asp-controller="Home" asp-action="Index">Sign Out</a>
</div>
<div align="center">
    <h2>Add Task</h2>
</div>