@{
    ViewData["Title"] = "User Enroll";
}

<div align="center">
    <h2>Enroll</h2>
</div>
<div align="center">
    <form>
        <div>
            <lable>Class:</lable>
            <select>
                <option></option>
                <option>Class 1</option>
                <option>Class 2</option>
                <option>Class 3</option>
            </select>
        </div>
        <div>
            <button>Enroll</button>
        </div>
    </form>
</div>