@using SoftEng.DataAccess.DataObjects;
@{
    ViewData["Title"] = "User Home";
}
@model SoftEng.Models.UserHomeModel

<partial name="UserNavBar"/>

<div>
    <h2 align="center">User Home</h2>
    <ul>
        @foreach(Event e in this.Model.UserHomeEvents)
        {
            <li><strong><span>@(e.Name)</span></strong></li>
            <ul>
                @if (e.Location != null || e.Location != "")
                {
                <li>Location: @(e.Location)</li>
                }
                <li>Date: @(e.EventDate.ToShortDateString())</li>
                <li>Time: @(e.EventTime.ToString())</li>
            </ul>
        }
    </ul>
</div>