@using SoftEng.DataAccess.DataObjects;
@{
    ViewData["Title"] = "User Home";
}
@model SoftEng.Models.UserHomeModel

<div class="navBar">
    <a asp-controller="User" asp-action="Home">Home</a>
    <a asp-controller="User" asp-action="WeeklyView">Weekly View</a>
    <a asp-controller="User" asp-action="CompareSchedules">Compare Schedules</a>
    <a asp-controller="User" asp-action="Enroll">Enroll</a>
    <a asp-controller="User" asp-action="AddTask">Add New Task</a>
    <a asp-controller="Home" asp-action="Home">Sign Out</a>
</div>
<div align="center">
    <h2>User Home</h2>
    <ul>
        @foreach(Event e in this.Model.UserHomeEvents)
        {
            <li><span>@(e.Name)</span></li>
            <ul>
                <li>@(e.Location)</li>
                <li>@(e.EventDate)</li>
            </ul>
        }
    </ul>
</div>