@{
    ViewData["Title"] = "User Weekly View";
}
<script type="text/javascript" src="~/js/WeeklyView.js"></script>
<script>
    var fullUrl = '@Url.Content("~")';
</script>
<div align="center">
    <h2>Weekly View</h2>
</div>
