@{
    //
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Calendar Application</h1>
    Username: <input type="text" id="usernameText" name="Username"/><br />
    Password: <input type="text" id="passwordText" name="Password" /><br />
    <input type="button" id="userLoginBtn" name="user" value="User Login"/>
    <input type="button" id="adminLoginBtn" name="admin" value="Admin Login"/> <br />
    <input type="button" id="registerBtn" name="register" value="Register" /> <br />
</div>