@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="~/js/Register.js"></script>
<script>
    var url = '@Url.Action("Register", "Home")';
    var home = '@Url.Action("Main", "Home")';
</script>
<div align="center">
    <h1>Calendar Application</h1>
    <label>Username:</label><input type="text" id="usernameText" name="Username" /><br />
    <label>Password:</label><input type="password" id="passwordText" name="Password" /><br />
    Check to Register: <input type="checkbox" id="registerCheckbox" name="RegisterCheckbox" onchange="toggleRegisterLogin()" /> <br />
    <div id="registerFields" class="hidden">
        <label>Re-enter Password:</label><input type="password" id="passwordTextAgain" name="PasswordAgain" /><br />
        <input type="button" id="registerBtn" name="register" value="Register" onclick="Register()" /> <br />
    </div>
    <input type="button" id="userLoginBtn" name="user" value="User Login" onclick="Validate()" />
</div>

<script>
    function Validate() {
    $.ajax(
        {
            type: "POST",
            url: '@Url.Action("Validate", "Home")',
            data: {
                username: $('#usernameText').val(),
                password: $('#passwordText').val()
            },
            error: function (result) {
                alert("There is a Problem, Try Again! ");
            },
            success: function (result) {
                console.log(result);
                if (result.status == true) {
                    window.location.href = '@Url.Action("Main", "Home")';
                }
                else {
                    alert(result.message);
                }
            }
        });
}



</script>