@{
    ViewData["Title"] = "Register";
}
<div>
    <a>Sign-in</a>
</div>
<h2>@ViewData["Title"]</h2>
<div>
    <form>
        <label>Username:</label>
        <input type="text" id="registerNameText" class="registerName"><br /><br />
        <label>Password:</label>
        <input type="text" name="registerPasswordText" class="registerPassword"><br /><br />
        <label>Confirm Password:</label>
        <input type="text" name="confirmPasswordText" class="confirmPassword"><br /><br />
        <button type="button" id="submitRegisterBtn">Register</button><br />
    </form>
</div>